@import './../../../assets/scss/variables';
@import './../../../assets/scss/mixin';

#footer {
  background: url('../../../assets/img/grass.png');
  height: 108px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.footer-text {
  text-align: center;
  margin-bottom: 15px;
}
